body {
    margin: 0;
    min-width: 1200px;
  }

.main-wrapper {
    margin-top: 120px;
    margin-left: 50px;
    margin-bottom: 75px;
    padding-right: 70px;
}

.main-title {
    text-transform: uppercase;
    font-family: "Aeroport";
    font-weight: bold;
    font-size: 20px;
    line-height: 1.67;
    letter-spacing: 0.4px;
}

.menu {
    padding-top: 50px;
    display: flex;
    flex-direction: row
}

.menu-date {
    position: relative;
}

.menu-calendar {
    position: absolute;
    top: 250px;
    left: 50px;
}

.menu-date::after {
    position: absolute;
    content: url('../img/narrow-down.svg');
    left: 180px;
    top: 1px;
}

.menu-filters {
    margin-left: 230px;
    position: relative;
}

.menu-filters::after {
    position: absolute;
    content: url('../img/narrow-down.svg');
    left: 90px;
    top: 1px;
}

.section-desc {
    padding-top: 65px;
}

.section-title {
    font-family: "Geometria Narrow";
    font-weight: 900;
    font-size: 44px;
}

.section-text {
    width: 250px;
    text-align: left;
    line-height: 1.47;
    letter-spacing: 0.7px;
    width: 284px;
}

.section-cover {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.section-pic {
    padding-left: 130px;
    margin-top: -40px;
}

.section-pic2 {
    margin-top: -100px;
}

.section-pic3 {
    margin-top: -155px;
}

.section-wrapper {
    padding-top: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.section-place {
    font-family: "Aeroport-Bold";
    font-weight: bold;
    font-size: 21px;
    line-height: 1.29;
    width: 210px;
}

.section-place__address {
    color: #8D8D8D;
}

.section-place__name {
    padding-top: 70px;
}

.section-narrow__left {
    position: relative;
    margin-left: 130px;
}

.section-narrow__left::before {
    position: absolute;
    content: url('../img/narrow-left.svg');
    left: 8px;
    top: 10px;
}

.section-narrow__right {
    position: relative;
}

.section-narrow__right::after {
    position: absolute;
    content: url('../img/narrow-left.svg');
    left: 60px;
    top: 10px;
    transform: scaleX(-1);
}


.schedule {
    display: flex;
    flex-direction: row;
}

.schedule-time {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5; 
}

.schedule-price {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5; 
    color:  #8D8D8D;
}

.bottom-info {
    padding-top: 70px;
    width: 1195px;
    border-bottom: 1px solid #8D8D8D;
}

.bottom-info__text {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 45px; 
    color:  #8D8D8D;
}

.schedule-column {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 40px;
    width: 28px;
}

.bottom-info__narrow {
    position: relative;
}

.bottom-info__narrow::after {
    position: absolute;
    content: url('../img/narrow-left.svg');
    right: -1px;
    bottom: 20px;
    transform: rotate(-90deg);
}

@media (min-width: 768px) {
    .section-pic {
        width: 334px;
        height: 189px;
    }
}