body {
    margin: 0;
    min-width: 1200px;
  }

.main-wrapper {
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 75px;
    margin-right: 70px;
}

.main-title {
    text-transform: uppercase;
    font-family: "Aeroport-Bold";
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
}

.menu {
    padding-top: 60px;
    display: flex;
    flex-direction: row
}

.menu-date {
    position: relative;
}

.menu-date::after {
    position: absolute;
    content: url('../img/narrow-down.svg');
    left: 170px;
    top: 1px;
}

.menu-filters {
    margin-left: 230px;
    position: relative;
}

.menu-filters::after {
    position: absolute;
    content: url('../img/narrow-down.svg');
    left: 80px;
    top: 1px;
}

.section-desc {
    padding-top: 70px;
}

.section-title {
    font-family: "Geometria Narrow";
    font-weight: 900;
    font-size: 44px;
}

.section-text {
    width: 250px;
    text-align: left;
}

.section-cover {
    display: flex;
    flex-direction: row;
}

.section-pic {
    padding-left: 160px;
    margin-top: -30px;
}

.section-pic2 {
    margin-top: -80px;
}

.section-pic3 {
    margin-top: -135px;
}

.section-wrapper {
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.section-place {
    font-family: "Aeroport-Bold";
    font-weight: bold;
    font-size: 21px;
    line-height: 1.5;
    width: 210px;
}

.section-place__address {
    color: #8D8D8D;
}

.section-place__name {
    padding-top: 70px;
}

.section-narrow__left{
    position: relative;
}

.section-narrow__left::before {
    position: absolute;
    content: url('../img/narrow-left.svg');
    left: 30px;
    top: 7px;
}

.section-narrow__right {
    position: relative;
}

.section-narrow__right::after {
    position: absolute;
    content: url('../img/narrow-left.svg');
    left: 30px;
    top: 7px;
    transform: scaleX(-1);
}


.schedule {
    display: flex;
    flex-direction: row;
}

.schedule-time {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5; 
}

.schedule-price {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5; 
    color:  #8D8D8D;
}

.bottom-info {
    padding-top: 70px;
    width: 1150px;
    border-bottom: 1px solid #8D8D8D;
}

.bottom-info__text {
    font-family: "Aeroport";
    font-weight: normal;
    font-size: 17px;
    line-height: 45px; 
    color:  #8D8D8D;
}

.schedule-column {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 28px;
}

.bottom-info__narrow {
    position: relative;
}

.bottom-info__narrow::after {
    position: absolute;
    content: url('../img/narrow-left.svg');
    right: 10px;
    bottom: 11px;
    transform: rotate(-90deg);
}